name: SOC CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Check Python Syntax
      run: |
        python -m py_compile app.py
        python -m py_compile detection_engine.py
        python -m py_compile ml_model.py

    - name: Run Basic Security Check
      run: |
        pip install bandit
        bandit -r .
    - name: Build Docker Image
      run: |
        docker build -t cyber-soc .

    - name: Check Dependencies
      run: |
        pip install safety
        safety check

